<!DOCTYPE html>
<html>
    <head>
        <title>
            Sign-up
        </title>
        <link rel = "stylesheet", href = "css/basic.css">
    </head>

    <body>
        <h1>
            This sign-up page is not finished yet
        </h1>
        <h2 class = "web-title">
            Sign-up
        </h2>
        <input class = "input-bar" type = "text" placeholder = "Username">
        <input class = "input-bar" type = "text" placeholder = "Password">
        <input class = "input-bar" type = "text" placeholder = "Repeat Password">
        <a href="list.html"><button class = "login-sign-button">
            SIGN-UP
        </button></a>

    </body>
</html>