.web-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.input-bar{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.login-sign-button{
    margin-top: 15px;
}
.sign-up{
    font-size: 10px;
    margin-left: 10px;
    display: inline-block;
}
.sign-up.hover{
    cursor: pointer;
}

.product{
    display: grid;
    background-color:rgb(196, 192, 192);
    height: 200px;
    grid-template-columns: 1fr;
    margin-top: 15px;
    margin-top: 15px;
}

.image{
    display: inline-block;
    background-color:rgb(51, 50, 50);
    height: 150px;
    width: 150px;
    margin-top: 25px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.checkout{
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    cursor: pointer;
}

.payment-method-all{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.payment-method{
    border-width:2px;
    border-style:solid;
    border-color: black;
    border-radius: 10px;
    height: 50px;
    width: 80px;
}