<!DOCTYPE html>
<html>
    <head>
        <title>
            Account settings
        </title>
        <link rel="stylesheet" , href="../static/css/basic.css">
    </head>

    <main> 
            
    <body>
        <h1>
            This  page is not finished yet
        </h1>
        <h2 class = "web-title">
            APPNAME
        </h2>
        <form method="POST" action="{{ url_for('edit_post', post_id = doc._id) }}">
            <label for="email"><b>Email</b></label>
            <input class = "input-bar" id="email" type = "text" placeholder = "Email" name = "email" value="{{doc.email}}">
            
            <label for="username"><b>Username</b></label>
            <input class = "input-bar" id="email" type = "text" placeholder = "Username" name = "username" value="{{doc.username}}">

            <label for="password"><b>Password</b></label>
            <input class = "input-bar" id="email" type = "text" placeholder = "Password" name = "password" value="{{doc.password}}">

            <p class = "error">{{message}}</p>

            <button class = "save-sign-button" type = "submit">
                Save
            </button>
        </form>

        <button> <a href="login.html"><p class = "delete"><u>
            Delete Account
        </u></p></a> </button>

        <button> <a href="login.html"><p class = "logout"><u>
            Logout 
        </u></p></a> </button>
        <script src="../static/js/script.js"></script>
    </main>
    </body>
</html>