<!DOCTYPE html>
<html>
    <head>
        <title>
            cartpage
        </title>
        <link rel = "stylesheet", href = "css/basic.css">
    </head>

    <body>
        <h1>
            This cart page is not finished yet
        </h1>
        <h2 class = "web-title">
            Shopping Cart
        </h2>
        <div>
            <div class = "product">
                <div class = "image">
                    <p class = "placeHolder">
                        IMAGE
                    </p>
                </div>
            </div>
            <div class = "product">
                <div class = "image">
                    <p class = "placeHolder">
                        IMAGE
                    </p>
                </div>
            </div>
        </div>

        <a href="confirmation.html"><button class = "checkout">
            Checkout
        </button></a>
    </body>
</html>