<!DOCTYPE html>
<html>
    <head>
        <title>
            cartpage
        </title>
        <link rel="stylesheet" , href="../static/css/styles.css">
    </head>

    <body>
        <header>
        <h1>
            Your Cart
        </h1>
        <a href="account.html">
            <p class="account"><u>
            Account 
        </u></p>
        </a>
        
        <a href="list.html">
            <p class="list"><u>
           Catalogue
        </u></p>
        </a>
    </header>
        <main>
        </main>
        <footer>
        </footer>
        <h1>
            This cart page is not finished yet
        </h1>
        <h2 class = "web-title">
            Shopping Cart
        </h2>
        <div>
            {%for clothing in clothes%}
            <div>
                <div class="product">
                    <img src="{{clothing['image']}}" height=400px>
                    <p> {{clothing['item-name']}} </p>
                    <p> from {{clothing['brand']}}</p>
                    <p> ${{clothing['price']}}</p>
                </div>
            </div>
            {% endfor %}

            <div>
                <p> Number of items: {{num}}</p>
                <p> Cart total: ${{total}}0</p>
            </div>

            <form action= "payment.html" method="GET">
            <button class = "checkout">
                <input type = "hidden" id = "total" name = "total" value ="{{total}}">
                <input type = "hidden" id = "num" name = "num" value ="{{num}}">
                Checkout
            </button></a>
            </form>

        <script src="../static/js/script.js"></script>
    </body>
</html>