<!DOCTYPE html>
<html>
    <head>
        <title>
            Payment confimation
        </title>
        <link rel = "stylesheet", href = "css/basic.css">
    </head>
    <body>
        <h1>
            This payment confirmation page is not finished yet
        </h1>
        <h2 class = "web-title">
            Payment confirmation
        </h2>
        <div class = "payment-method-all">
            <div class = "payment-method">method1</div>
            <div class = "payment-method">method1</div>
        </div>
        <button class = "checkout">
            Proceed
        </button>
    </body>
</html>
