<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" , href="../static/css/styles.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</head>

<body>
    <header>
        <div class="home_menu" id="home_menu">
            <a href="account.html">
                <p class="account">
                    Account
                </p>
            </a>
            <a href="cart.html">
                <p class="cart">
                    Cart
                </p>
            </a>
            <a href="list.html">
                <p class="list">
                    Catalogue</p>
        </div>
        <div class="home_button hide" id="home_button">
            <a>
                <iconify-icon icon="charm:menu-hamburger"></iconify-icon>
            </a>
        </div>
        <script>
            var x = document.getElementById("home_button");
            x.addEventListener("click", function() {
                var y = document.getElementById("home_menu");
                if (y.className === "home_menu") {
                    y.className += " show";
                    y.style.display = "flex";
                } else {
                    y.className = "home_menu";
                    y.style.display = "none";
                }
            });
        </script>
        <h1 class="title hide">
            CATALOGUE
        </h1>
    </header>
    <main>
        <a href="cart.html">cart</a>
        <a href="confirmation.html">confirmation</a>
        <a href="list.html">list</a>
        <a href="login.html">login</a>
        <a href="signup.html">signup</a>


        <section class="login" style="display: none;">

        </section>
    </main>
    <footer>
        <div class="footer_div">
            <p>© 2020 mainpage Shop</p>
        </div>
    </footer>
</body>

</html>