<html>

<head>
    <title>
       View Item
    </title>
    <link rel="stylesheet" , href="../static/css/styles.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</head>
<body> 
    <header>
        <h1>
            View Item
        </h1>
        <a href="account.html">
            <p class="account"><u>
            Account 
        </u></p>
        </a>
        <a href="cart.html">
            <p class="cart"><u>
           Cart 
        </u></p>
        </a>
        <a href="list.html">
            <p class="list"><u>
           Items List 
        </u></p>
        </a>
    </header>
<main>

    <div class="product">
        <h2> {{item['item-name']}} </h2>
        <img src="{{item['image']}}" height=400px>
        <p> from {{item['brand']}}</p>
        <p> ${{item['price']}}</p>
        <p> Available sizes: {{item['sizes-available']}}</p>

        <form action= "cart.html" method="GET">
             <input type = "hidden" id = "objID" name = "item" value ="{{item['_id']}}">
             <button type="submit"> Add to Cart</button>
        </form>


    </div>

</main>
<footer>
    <div class="footer_div">
        <p>© 2020 mainpage Shop</p>
    </div>
</footer>
<script src="../static/js/script.js"></script>
<script src="../static/js/list.js"></script>
</body>

</html>