<html>
    <head>
        <title>
            mainpage
        Shop
        </title>
        <link rel = "stylesheet", href = "css/basic.css">
    </head>
            View item
        </h2>
        <input class = "input-bar" type = "text" placeholder = "Search for item">
        {%for clothing in clothes%}
        <div>
            <div class = "product">
                <img src= "{{clothing['image']}}" height = 400px > 
               <p> {{clothing['item-name']}} </p>
               <p> from {{clothing['brand']}}</p>
               <p> ${{clothing['price']}}</p>
               <p> Available sizes: {{clothing['sizes-available']}}</p>
               <a href="cart.html"><button class = "addToCart">
                Add to cart
            </button></a>

            </div>
        </div>
        {% endfor %}
        <a href="cart.html"><button class = "checkout">
            Checkout
        </button></a>
