<!DOCTYPE html>
<html>
    <head>
        <title>
            Login
        </title>
        <link rel = "stylesheet" type ="text/css" href = "../static/css/basic.css"/>
    </head>

    <body>
        <h1>
            This login page is not finished yet
        </h1>
        <h2 class = "web-title">
            APPNAME
        </h2>

        <form method = "POST" action = "users">
            <label for="email"><b>Email</b></label>
            <input class = "input-bar" type = "text" placeholder = "Email" name = "email">

            <label for="password"><b>Password</b></label>
            <input class = "input-bar" type = "text" placeholder = "Password" name = "password">

            <p class = "error">{{message}}</p>

            <button class = "login-sign-button" type = "submit">
                LOGIN
            </button>
        </form>

        <a href="signup.html"><p class = "sign-up"><u>
            Sign-up
        </u></p></a>
    </body>
</html>