<!DOCTYPE html>
<html>
    <head>
        <title>
            Login
        </title>
        <link rel="stylesheet" , href="../static/css/styles.css">
    </head>

    <body>
        <h2  class = "web-title">
            APPNAME
        </h2>

        <form method = "POST" action="/login.html">
            <div id = "login-detail"> 
            <label for="email"><b>Email</b></label><br>
            <input class = "input-bar" type = "text" placeholder = "Email" name = "email"><br>
        </div>

        <div id = "login-detail"> 
            <label for="password"><b>Password</b></label> <br>
            <input class = "input-bar" type = "text" placeholder = "Password" name = "password"> <br>
        </div>

            <p class = "error">{{message}}</p>

            <button class = "login-sign-button" type = "submit">
                LOGIN
            </button>
        </form>

        <a href="signup.html"><p class = "sign-up"><u>
            Sign-up
        </u></p></a>
        <script src="../static/js/script.js"></script>
    </body>
</html>