<!DOCTYPE html>
<html>
    <head>
        <title>
            Login
        </title>
        <link rel = "stylesheet", href = "css/basic.css">
    </head>

    <body>
        <h1>
            This login page is not finished yet
        </h1>
        <h2 class = "web-title">
            APPNAME
        </h2>
        <input class = "input-bar" type = "text" placeholder = "Username">
        <input class = "input-bar" type = "text" placeholder = "Password">
        <a href="list.html"><button class = "login-sign-button">
            LOGIN
        </button></a>
        <a href="signup.html"><p class = "sign-up"><u>
            Sign-up
        </u></p></a>
    </body>
</html>