<!DOCTYPE html>
<html>
    <head>
        <title>
            Sign-up
        </title>
        <link rel="stylesheet" , href="../static/css/styles.css">
    </head>

    <body>
        <h1>
            This sign-up page is not finished yet
        </h1>
        <h2 class = "web-title">
            Sign-up
        </h2>

        <form method = "POST" action="/signup.html">
            <label for="email"><b>Email</b></label>
            <input class = "input-bar" type = "text" placeholder = "Email" name = "email">

            <label for="username"><b>Username</b></label>
            <input class = "input-bar" type = "text" placeholder = "Username" name = "username">

            <label for="password"><b>Password</b></label>
            <input class = "input-bar" type = "text" placeholder = "Password" name = "password">

            <p class = "error">{{message}}</p>

            <button class = "login-sign-button" type = "submit">
                SIGN-UP
            </button>
        </form>
        <script src="../static/js/script.js"></script>
    </body>
</html>